.THIS {
}
.THIS.home-popin {
    position: absolute;
    right: 0;
    width: 40%;
    min-width: 300px;
    height: 100%;
    z-index: 100;
    padding: .5rem;
    background: white;
    border: 1px solid #EFEFEF;
}