.THIS {
}
.THIS .required{
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;    
}
.THIS .subHeader{
    padding:15px    
}
.THIS .pageTitle{
    font-size: 1.25rem;
    color: rgb(22, 50, 92);
}
.THIS .UIField{
	background-color: rgb(255, 255, 255);
    color: rgb(22, 50, 92);
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    width: 90%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}
.THIS .requiredLabel{
	float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}
.THIS .uiInput--datetime .datePicker-openIcon, 
.THIS .uiInput--datetime .timePicker-openIcon{

    right: 20%;
}
.THIS .requiredErrorField{
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}
.THIS.oppProErrorCode{
    list-style: none;
    color: rgb(194, 57, 52);
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem .25rem 0.45rem;
}